@page "/cardpayment"
@using Stripe;
@using Lib;
@inject IHttpClientFactory ClientFactory
@inject AppSecrets _appSecrets
@inject IJSRuntime jsRuntime

<h3>Credit Card Charge Example</h3>
<div>This will bill your card for $500</div>
<form @onsubmit="HandlePayment">
    <div style="width:300px">
        <div @ref="cardElement" id="cardElement"></div>
        <button type="submit">Charge Card $500</button>
    </div>
</form>

<div>@response</div>

@code {
    private string response;

    private ElementReference cardElement;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("initializeStripe", _appSecrets.StripePublishableKey);
        }
    }

    private async Task HandlePayment()
    {
        Stripe.StripeConfiguration.ApiKey = _appSecrets.StripeSecretKey;

        var token = await jsRuntime.InvokeAsync<string>("createStripeToken");

        if (!string.IsNullOrEmpty(token))
        {
            // Send the token to your server
            var paymentMethodCreateOptions = new PaymentMethodCreateOptions
            {
                Type = "card",
                Card = new PaymentMethodCardOptions
                {
                    Token = token,
                }
            };

            var paymentMethodService = new PaymentMethodService();
            PaymentMethod paymentMethod = paymentMethodService.Create(paymentMethodCreateOptions);

            var paymentIntentCreateOptions = new PaymentIntentCreateOptions
            {
                Amount = 50000, // Amount in cents
                Currency = "usd",
                PaymentMethodTypes = new List<string> { "card" },
                PaymentMethod = paymentMethod.Id, // Attach the Payment Method to the Payment Intent
                Confirm = true,
            };

            var paymentIntentService = new PaymentIntentService();
            PaymentIntent paymentIntent = paymentIntentService.Create(paymentIntentCreateOptions);
            response = paymentIntent.Status;
        }

        

    }
    
}
