@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    To navigate back to the main HOA site, click <a href="https://plhhoa.link">here</a>
</div>
<div>
    To Redirect to the payment page, click <a href="/api/stripe/create-checkout-session">here</a>
</div>