@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    To navigate back to the main HOA site, click <a href="https://plhhoa.link">here</a>
</div>
<div>
    To create a payment session, click <a href="/create-payment-session">here</a>
</div>