@page "/success"

<PageTitle>Success</PageTitle>

<h1>Success</h1>

<div>Payment was successful</div>

<div>
    To navigate back to the main HOA site, click <a href="https://plhhoa.link">here</a>
</div>
